.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.title-question-body {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #011826;
    flex: 1;
}

.categories-list {
    padding: 0px 30px;
}

.categories-list-title {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #011826;
}

.item-list-category {
    border-bottom: 1px solid darkgray;
    padding: 15px 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.item-list-category:nth-child(1) {
    padding-top: 0px !important;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: center;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.arrow-category {
    color: #011826;
    font-size: 17px;
    align-content: flex-end;
    flex: 1;
    text-align: end;
}

.form-search-container {
    margin-top: 50px;
    width: 100%;
}

.form-search-container form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 0%;
    border: #011826 solid 1px;
    padding: 5px 10px;
}

.form-search-container form * {
    height: 30px !important;
    min-height: 30px !important;
    box-sizing: border-box;
    border: none !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    outline: none;
}

.form-search-container form .txt-field {
    flex: 1;
}

.form-search-container form button {
    background: transparent !important;;
}